[submodule "qadence2-ir"]
	path = qadence2-ir
	url = https://github.com/pasqal-io/qadence2-ir.git
[submodule "qadence2-expressions"]
	path = qadence2-expressions
	url = https://github.com/pasqal-io/qadence2-expressions.git
