[submodule "qadence-expressions"]
	path = qadence-expressions
	url = https://github.com/pasqal-io/wip-qadence2-expressions.git

[submodule "qadence-platforms"]
	path = qadence-platforms
	url = https://github.com/pasqal-io/wip-qadence2-platforms.git
